* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.conteiner-header {
    max-width: 1440px;
    margin: 0px auto;
    background-color: rgb(109, 219, 182);
    padding-bottom: 30px;
}

.title {
    display: flex;
    justify-content: center;
}

.text-title {
    color: rgb(236, 245, 245);
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 30px;
}

.menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.btn {
    font-size: 30px;
    border-radius: 20px;
    background-color: rgb(224, 230, 235);
    padding: 5px;
}

.content {
    flex: 1 1 auto;
}

.conteiner-main {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 1440px;
    margin: 0px auto;
    background-color: rgb(73, 98, 208);
}

.body-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content-main {
    height: 200px;
    width: 320px;
    margin: 0px 15px 40px 0;
    background-color: rgb(10, 25, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}

.text-main {
    font-size: 50px;
    color: rgb(236, 245, 245);
}

.conteiner-footer {
    max-width: 1440px;
    margin: 0px auto;
    background-color: rgb(127, 142, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}